.repl_history
build
resources/*.nib
resources/*.momd
resources/*.storyboardc

/xcode/.DS_Store
/vendor/Pods/.build/
/vendor/Pods/build*
/vendor/Pods/build-iPhoneSimulator/libPods.a
/resources/en.lproj/MainStoryboard.storyboardc/UIViewController-HAs-ec-syr.nib
/resources/en.lproj/MainStoryboard.storyboardc/qk9-de-BME-view-ocq-1i-qOj.nib
/resources/en.lproj/MainStoryboard.storyboardc/Nib.nib
/resources/en.lproj/MainStoryboard.storyboardc/HAs-ec-syr-view-pA8-Z1-OAq.nib
/resources/en.lproj/MainStoryboard.storyboardc/gmi-l3-f6t-view-V9d-SL-Xq7.nib
/resources/en.lproj/MainStoryboard.storyboardc/ByHand.nib
/resources/en.lproj/MainStoryboard.storyboardc/xbW-sF-9Ue-view-349-m1-Yug.nib
/resources/en.lproj/MainStoryboard.storyboardc/Welcome.nib
/resources/en.lproj/MainStoryboard.storyboardc/vrc-u8-BUC-view-ZFH-dx-c3w.nib
/resources/en.lproj/MainStoryboard.storyboardc/Menu.nib
/resources/en.lproj/MainStoryboard.storyboardc/Main.nib
/resources/en.lproj/MainStoryboard.storyboardc/Info.plist
/resources/en.lproj/MainStoryboard.storyboardc/8VW-Kk-5L6-view-mOk-6I-N3C.nib
/resources/en.lproj/MainStoryboard.storyboardc/
/.dat28b7.002
/.dat28b7.000
/.dat4b9b.000
/.dat39c5.003
/.dat39c5.002
/xcode/URUG Motion.xcodeproj/project.xcworkspace/xcuserdata/rod.xcuserdatad/UserInterfaceState.xcuserstate
.dat*
/build